/*--------------------------------------------------
    Documento: Estilo
    Criado em : 10/10/2012, 16:28        
    Folha de estilos principal do projeto
    Autor: Natanael
--------------------------------------------------*/
body{
    background-color: #DDD;
}
#corpo{
    background-color: #fff;
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}
header{
    height: 110px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding: 5px;
}
nav{
    float: left;
}
article{
    width: 850px;
    min-height: 450px; 
    text-align: center;
    display: inline-block;
}
footer{    
    padding-top: 5px; 
    color: #b0b0b0;
    text-align: center;
    font-size: 90%;
}
footer a{color: #b0b0b0;}
footer a:hover{color: #4F5155;}
/*-------------------------------
Fim das definições gerais
Inicio das definições de elementos mais especificos
---------------------------------*/

.icon{
    display: inline-block;
    width: 250px;
    padding-bottom: 20px;   
}
.icon:hover{
    background-color: #f2f2f2;
}
.error{
    color: #cc0000;
}
/*-----------------------------
    Form
------------------------------*/

#form{
    width: 580px;
}
#form input, #form select{float: right;}
#form label{
    float: left;
    /*text-align: right;
    width: 200px;*/
}
input[type=text]{
    height: 22px;
    width: 350px;
}
select{
    height: 28px;
    width: 355px;
}

#form-busca input[type=submit]{
    font-size: 13px;
    
}

/*---------------------------------
    Tabelas
----------------------------------*/
table{
    border-collapse: collapse;
    border: 1px solid #d0d0d0;
}
table th {
    border: 1px solid #d0d0d0;
    background-color: #e0e0e0;
    text-align: left;
}
table td {
    border: 1px dotted #d0d0d0;
    background-color: #FFFFFF;
    text-align: left;
    
}
/*---------------------------------
    Listas
----------------------------------*/
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul li{
    padding: 2px;
    text-align: left;
    
}
ul li:hover{
    background-color: #f0f0f0;
}
